<! DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <br>
        <a href="http://127.0.0.1:8000/login/">
            <button type="submit" form="nameform" value="Submit" style="background-color:powderblue;">Create Account</button>
          </a>
    </body>
</html>
=======
<! DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <br>
        <a href="http://127.0.0.1:8000/login/">
            <button type="submit" form="nameform" value="Submit" style="background-color:powderblue;">Create Account</button>
          </a>
    </body>
</html>

