<!DOCTYPE html>
<html>
<head>
    <base href="/static/firstapp/">
    <h1>Firstapp</h1>
</head>
<body>
    <form method="POST" action="index/login">
        {% csrf_token %}
        <label for="name">Username :</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="pass">Password :</label>
        <input type="text" id="pass" name="pass"><br><br>
        <input type="submit" value="Submit">
    </form>
    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>